.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# Intellij
*.iml
/.idea/gradle.xml
/.idea/tasks.xml
/.idea/misc.xml
/.idea/dictionaries
/.idea/caches/gradle_models.ser
/.idea/caches/build_file_checksums.ser
